@charset "utf-8";
* {
	box-sizing: border-box;
	font-family: "BIZ UDPGothic", Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
    margin:0px;
}

body {
    padding:8px;
}

.output-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    background-color: transparent;
}

.output .card {
  padding: 8px;
  width: 400px;
  height: 600px;
  margin-left: 8px;
  margin-right: 8px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  border: 2px gray inset;
  border-radius: 8px;
  position: relative;
}

.output .アリバイ {
  border: 10px blue inset;
  background-image: url("../img/アリバイ.png");
}

.output .キャラクター {
  border: 10px red inset;
  background-image: url("../img/キャラクター.png");
}

.output .ページ {
  border: 10px bisque inset;
  background-image: url("../img/ページ.png");
}

.output .ロール {
  border: 10px violet inset;
  background-image: url("../img/ロール.png");
}

.output .関係性 {
  border: 10px pink inset;
  background-image: url("../img/関係性.png");
}

.output .結末 {
  border: 10px black inset;
  background-image: url("../img/結末.png");
}

.output .死因 {
  border: 10px rgb(94, 7, 7) inset;
  background-image: url("../img/死因.png");
}

.output .所持品 {
  border: 10px greenyellow inset;
  background-image: url("../img/所持品.png");
}

.output .動機 {
  border: 10px yellow inset;
  background-image: url("../img/動機.png");
}

.output .犯行現場 {
  border: 10px gray inset;
  background-image: url("../img/犯行現場.png");
}

.output .ng-card {
    background-color: rgba(255,240,240,0.4);
    background-blend-mode: color;
}

.output .ok-card {
    background-color: rgba(240,240,255,0.4);
    background-blend-mode: color;
}

.output .card .title {
    position: relative;
    top: 8px;
    left: 4px;
    right: 4px;
    font-size: 3em;
}

.output .card .content {
    position: relative;
    margin: auto;
    top: 5%;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1.3em;
}

.output .card .detail {
    position: absolute;
    bottom: 8px;
    left: 4px;
    right: 4px;
    font-size: 0.7em;
}

.output .card .stump {
    display: block;
    position: absolute;
    top: 60px;
    left: 4px;
    right: 4px;
    font-size: 7em;
    opacity: 0.2;
    text-align: center;
    transform: rotate(30deg);
}

.output .ng-card .stump::after {
    content: "NG";
    color: red;
    -webkit-text-stroke: 3px crimson;
    text-stroke: 3px crimson;
}

.output .ok-card .stump::after {
    content: "OK";
    color: blue;
    -webkit-text-stroke: 3px navy;
    text-stroke: 3px navy;
}
